body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

BODY {
  /* Less blue than the others since links are blue */
  background-color: lightcyan;
  
  /* larger font for readability */
  font-size: 16px;
  font-weight: normal; 
  font-family: Georgia;
} 

.siteTitle {
  text-align: center;
  margin:auto;
  justify-content: center;
  color:black;
}

.repl {
  position:relative;
  min-height:80vh;    
}

.repl-history {      
  height:10%;   
  margin: auto;
  display: block;
  overflow: scroll; 
  text-align: center;
  justify-content: center; 
  border-color: black;
  overflow-wrap: break-word;
  background-color: azure;
  text-align: center;
  justify-content: center;  
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-width: .3vh;
  overflow-wrap: break-word;
  margin-bottom: 1%;
}

#historyText{
  background-color: azure;
  text-align: center;
  justify-content: center;  
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-width: .3vh;
  overflow-wrap: break-word;
}

.repl-input {        
  margin: auto;    
  height: 10vh;
  color: black;
}

.repl-command-box {
  width: 90%;            
  margin: auto;
  display: block;
  background-color: azure;
  font-weight: normal; 
  font-family: Georgia;
  font-size: 16px;
  text-align: center;
  
}

::placeholder{
  text-align: center;

}

#btn{
  font-family: Georgia;    
}

.button-container{
  display: flex;
  justify-content: center;
  margin: auto;
  
}


